@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-black: #1e1e1e;
  --color-white: #fff;
  --color-accent: #78f067;
  --color-grey: #f2f2f2;

  --radius: 16px;

  --size-8: 8px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-64: 64px;
  --size-user-input: 56px;

  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-h1: 600 32px/40px var(--font-family);
  --font-h2: 500 24px/24px var(--font-family);
  --font-p: 600 18px/24px var(--font-family);
}

body {
  margin: 0;
  background-color: var(--color-white);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: var(--size-64) var(--size-24) var(--size-24) var(--size-24);
  gap: var(--size-40);
}

.main__shrinked {
  padding-bottom: 0;
}

.scroll_y {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll_x {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll_x::-webkit-scrollbar,
.scroll_y::-webkit-scrollbar {
  display: none;
}

.text_h1 {
  font: var(--font-h1);
  margin: 0 0 var(--size-16) 0;
  color: var(--color-black);
}

.text_h1:last-child {
  margin-bottom: 0;
}

.text_h2 {
  font: var(--font-h2);
  margin: 0;
  color: var(--color-black);
}

.text_p {
  font: var(--font-p);
  margin: 0;
  color: var(--color-black);
}

.progress_bar {
  height: var(--size-32);
  border-radius: var(--radius);
  background-color: var(--color-grey);
  margin-bottom: var(--size-16);
}

.button {
  font: var(--font-p);
  width: 100%;
  height: var(--size-user-input);
  cursor: pointer;
  color: var(--color-black);
  border: 0;
  border-radius: var(--radius);
  background-color: var(--color-white);
}

.button__primary {
  color: var(--color-white);
  background-color: var(--color-black);
}

.button__accent {
  background-color: var(--color-accent);
}

.button__tertiary {
  background-color: var(--color-grey);
}

.card {
  display: block;
  width: 100%;
  margin-bottom: var(--size-16);
  padding: var(--size-16) var(--size-24);
  cursor: pointer;
  border: 0;
  border-radius: var(--radius);
  background-color: var(--color-grey);
}

.card:last-child {
  margin-bottom: 0;
}

.card_content {
  display: block;
  text-align: start;
}

.card__active {
  color: var(--color-white);
  background-color: var(--color-black);
}

.menu {
  display: flex;
  padding: var(--size-16) var(--size-24);
  background-color: var(--color-white);
  gap: var(--size-16);
}

.input {
  height: var(--size-user-input);
  padding: 0 var(--size-16);
  cursor: text;
  border: 0;
  outline: 0;
  color: var(--color-inactive);
  border-radius: var(--radius);
  background-color: var(--color-grey);
  gap: var(--size-8);
  font: var(--font-p);
}

.input__active {
  color: var(--color-black);
}
