@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-primary: #c2eb2d;
  --color-black: #1e1e1e;
  --color-white: #fff;
  --color-bg: #eaeaea;
  --color-inactive: #858585;
  --color-error: #e24848;

  --radius: 16px;

  --size-8: 8px;
  --size-16: 16px;
  --size-24: 24px;
  --size-user-input: 48px;

  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-h1: 600 24px/32px var(--font-family);
  --font-h2: 500 20px/24px var(--font-family);
  --font-h3: 600 16px/16px var(--font-family);
  --font-p: 500 15px/16px var(--font-family);
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--color-bg);
}

.text_h1 {
  font: var(--font-h1);
  margin: 0;
  color: var(--color-black);
}

.text_h2 {
  font: var(--font-h2);
  margin: 0;
  color: var(--color-black);
}

.text_h3 {
  font: var(--font-h3);
  margin: 0;
  color: var(--color-black);
}

.text_p {
  font: var(--font-p);
  color: var(--color-black);
}

.scroll_y {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll_x {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll_x::-webkit-scrollbar,
.scroll_y::-webkit-scrollbar {
  display: none;
}

.button {
  font: var(--font-p);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--size-user-input);
  cursor: pointer;
  color: var(--color-black);
  border: 0;
  border-radius: var(--radius);
  background-color: var(--color-white);
  gap: var(--size-8);
}

.button__primary {
  color: var(--color-black);
  background-color: var(--color-primary);
}

.button__secondary {
  color: var(--color-white);
  background-color: var(--color-black);
}

.button__destructive {
  color: var(--color-error);
  background-color: var(--color-white);
}

.block {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
}

.block_content {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
}

.block_content__flow_x {
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: end;
  padding: var(--size-16);
  cursor: pointer;
  border: 0;
  border-radius: var(--radius);
  background-color: var(--color-white);
  gap: var(--size-8);
}

.card__extended {
  width: 256px;
  height: 256px;
}

.card__active {
  background-color: var(--color-black);
}

.card_header {
  font: var(--font-p);
  display: flex;
  align-self: stretch;
  text-align: start;
  color: var(--color-black);
}

.card_header__active {
  color: var(--color-white);
}

.card_hint {
  font: var(--font-p);
  display: flex;
  align-self: stretch;
  text-align: start;
  color: var(--color-inactive);
}

.input {
  display: flex;
  align-items: center;
  padding: 0 var(--size-16);
  cursor: text;
  color: var(--color-inactive);
  border-radius: var(--radius);
  background-color: var(--color-white);
  gap: var(--size-8);
}

.input__active {
  color: var(--color-black);
}

.input_field {
  font: var(--font-p);
  flex-grow: 1;
  height: var(--size-user-input);
  padding: 0;
  border: 0;
  outline: 0;
}

.input_field::-webkit-search-cancel-button,
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  appearance: none;
}
